<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "My profile", profile_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My instruments", rentals_path, class: "tab-underlined"%>
  </li>
  <li>
    <a href="#" class="tab-underlined active">My rentals</a>
  </li>
</ul>

<div class="container " >
  <div class="grid-container my-5">
    <% if @rented.empty? %>
      <div>
        <%= "You haven't booked an instrument yet"%>
      </div>
    <% else %>

      <% @rented.each do |r| %>
        <%= link_to instrument_path(r) do %>
          <div class="card-trip">
            <% if r.photo.attached? %>
              <%= cl_image_tag r.photo.key %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" %>
            <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%=r.name %></h2>
                  <p><%=r.description.truncate(32) %></p>
                </div>
                <h2 class="card-trip-pricing"><%=r.price%>€</h2>
                <%if r.user.photo.attached?%>
                  <%= cl_image_tag r.photo.key, class:"card-trip-user avatar-bordered" %>
                <%else%>
                  <%= image_tag "https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=756&q=80", class:"card-trip-user avatar-bordered" %>
                <%end%>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
