<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "My profile", profile_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My instruments", rentals_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My rentals", rented_path, class: "tab-underlined"%>
  </li>
  <li>
    <%= link_to "My requests", "#", class: "tab-underlined active"%>
  </li>
</ul>

<div class="container flex-container my-5">
    <div class="accepted-bookings">
      <div class="oncoming-bookings">
        <h3>Oncoming bookings</h3>
      </div>
      <div class="passed-bookings">
        <h3>Passed bookings</h3>
      </div>
    </div>
    <div class="pending-bookings">
      <h3>Pending bookings</h3>
      <%@my_instru.each do |i| %>
        <%i.bookings.each do |b| %>
        <p>Plop</p>
          <%if b.answered == false%>
            <p><%=i.name%></p>
          <%else%>
            <p><%=i.name%></p>
          <%end%>
        <%end%>
      <%end%>

      <%# bookings.where{pending==true}.each do
        <div class="carte">
          tete du loueur
          intru qu'il vaut loueur
          dates
          bouton "accept", bouton "refuse"
        </div>
      end %>

      <%# <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div> %>
    </div>
</div>
