<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
        <h2> Edit your profile  </h2>
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :bio,
                      required: false,
                      input_html: { autocomplete: "write a bio" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file,
                        hint: "choose your new profile picture" %>
          <%= f.button :submit, "Update", class: 'btn btn-flat' %>
          <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure ?" }, method: :delete, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="group-button">
    <%= link_to "Back to dashboard", :back, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
