
<div class="booking bg-white rounded p-4 shadow">
  <h3 class="mb-3">Book an instrument</h3>
  <div>
    <p class="price-tag" ><strong><%=@instrument.price%> €</strong> / per day</p>
  </div>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :start_date, as: :date, placeholder: 'Check-in' %>
    <%= f.input :end_date,  as: :date, placeholder: 'check-out' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
</div>
