<div class="container">

</div>

<div class="container bg-white mb-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div>
        <h2><%= pluralize @reviews.size, "review" %></h2>
      </div>
      <div>
        <% if @booking.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this list</em></small>
        <% end %>

        <% @booking.reviews.each do |review| %>
          <div> <%=@user.first_name%>  <%=@user.last_name%>
          </div>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.comment %></p>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>
