<div class="banner mb-40" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <h1><%=params[:query] %></h1>
</div>

<div class="container " >
  <div class="grid-container my-5">

    <% if @instruments.empty? %>
      <div>
        <%= "There is no instrument in this category"%>
      </div>
    <% else %>

      <% @instruments.each do |instrument| %>
        <%= link_to instrument_path(instrument) do %>
          <div class="card-trip">
            <% if instrument.photo.attached? %>
              <%= cl_image_tag instrument.photo.key %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" %>
            <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%=instrument.name %></h2>
                  <p><%=instrument.description.truncate(32) %></p>
                </div>
                <h2 class="card-trip-pricing"><%=instrument.price%>€</h2>
                <%if instrument.user.photo.attached?%>
                  <%= cl_image_tag instrument.user.photo.key, class:"card-trip-user avatar-bordered" %>
                <%else%>
                  <%= image_tag "https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=756&q=80", class:"card-trip-user avatar-bordered" %>
                <%end%>
              </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
