<div class="container my-5">
  <div class="flex-container">
    <div class="bg-white rounded p-3 shadow">
      <div>
        <% if  current_user.id == @instrument.user_id %>
          <%= link_to "DELETE", instrument_path(@instrument.id), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
      <div>
        <h1> <%= @instrument.name %> </h1>
        <p> <strong>Description:</strong> <%= @instrument.description %> </p>
        <p> <strong>Price per day:</strong> <%= @instrument.price %>€ </p>
      </div>
      <div class="user_image">
        <% if @instrument.photo.attached? %>
          <%= cl_image_tag @instrument.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1445375011782-2384686778a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", width: 400, height: 300, crop: :fill %>
        <% end %>
      </div>
    </div>
    <div>
      <div style="width: auto; height: 200px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div>
        <% if @bookings.empty? %>
        <%= render "bookings/new" %>
        <% else %>
        <h3>Congratulations!</h3>
        <p>You request has been sent!</p>
        <% end %>
      </div>
    </div>
</div>
